@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Poppins:wght@500;600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

hr {
    width: 2px;
    height: 2rem;
    background-color: #C4C4C4;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    margin-top: 5rem;
}

h2 {
    color: #ffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 40px;
    font-size: 28px;
}

textarea{
    width: 50rem;
    height: 15.75rem;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    outline: none;
    padding: 20px 9px;
    font-family: 'Inter'; 
}