.search__container{
    background-color: #002A3B;
     height: 18rem; 
     display: flex; 
     flex-direction: column;
     row-gap: 3.75rem;
     padding-top: 3.75rem;
}

.explore{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.search{
    width: 51rem;
    height: 3.125rem;
    display: grid;
    background-color: #ffff;
    box-shadow: 0px 4px 50px rgba(111, 111, 111, 0.1);
    border-radius: 12px;
    grid-template-columns: 5% 95%;
    align-items: center;
    padding: 0 2.5rem;

}