.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2.75rem;
    height: 100px;
}

.content{
    color: #ffff;
    font-family: 'Inter', sans-serif;
}
.content__heading{
    font-weight: 700;
    font-size: 24px;
}

.content__subheading{
    font-weight: 500;
    font-size: 16px;
}